<div *ngIf="!isEmpty(); else emptyCartTemplate" xmlns="http://www.w3.org/1999/html">
  <header>
    <span header-text>Items in the cart:</span>
  </header>
  Order by:
  <select [(ngModel)] = "orderByField">
    <option value='name' selected>Product name</option>
    <option value='price'>Price</option>
    <option value='quantity'>Quantity</option>
  </select>
  <p>
    <input type="radio" name="direction" (change)="onDirectionChange(true)"/>Asc
      <input type="radio" name="direction" (change)="onDirectionChange(false)"/>Desc
  </p>
  <button (click)="onClear()">Clear cart</button>

  <ul>
    <li *ngFor="let item of (items | orderBy: orderByField : isAsc)">
      <div change-background="blue">
        <cart-item [item]="item"></cart-item>
      </div>
    </li>
  </ul>
  <span>Total items: {{totalItems}}</span>
  <span>Total Price: {{getTotalPrice() | currency: 'USD'}}</span>
  <button class="btn btn-primary" type="button" (click)="order()">Order</button>
</div>

<ng-template #emptyCartTemplate>
  <header>
    <span header-text>Products cart is empty</span>
  </header>
</ng-template>


