<div style="text-align:center">
  <header>
    <span header-text>Welcome to {{ application }} {{version}}!</span>
  </header>
</div>
<div style="text-align:right">
  <span>{{getUsername()}}</span>
  <a *ngIf="isAuthenticated()" (click)="logout()">Logout</a>
  <a *ngIf="!isAuthenticated()" routerLink="/login">Login</a>
  <span>Today: {{today | date: 'short'}}</span>
</div>
<nav>
  <a *ngIf="isAdmin()" routerLink="/admin">Admin</a>
  <a routerLink="/products">Products</a>
  <a routerLink="/cart">Cart ({{cartSize()}})</a>
</nav>
<router-outlet></router-outlet>
